body{
	font-family: sans-serif;
}

header .navbar img{
	margin-left: 50px;
    margin: 24px;
}

.navbar{
	background-color: #320009;
}

.banner{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 0px;
}

.banner-title{
	width: 856px;
    margin-left: 238px;
}

.banner-title h2{
	font-size: 53px;
	color: white;
}

.banner-title p{
	font-size: 30px;
	color: white;

}

header ul{
	list-style: none;
	margin:50px;
	padding-bottom: 18px;

}

header li{
	display: inline;
}

header li+li{
	padding-left: 38px;
}

header li a{
	font-size: 28px;
	text-decoration: none;
	color: white;
}

.scroll{
	color: white;
    margin-top: -60px;
}

.scroll p{
	margin-bottom: 5px;
}

.banner{
	background-image: url('../images/Grass_Image_02.jpg');
	background-repeat: no-repeat;
}

.video{
	position: relative;
}

 .video img{
 	width: 100%;
 }

 .video a{
 	position: absolute;
    margin-top: -33%;
    margin-left: 50%;
 }

 .slider{
 	height: 302px;
 	position: relative;
 	background-color: #D7D1D0;
 	margin-top: -20px;
    padding-top: 26px;
}
 }

 .slider-wrapper{
 	width: 90%;
    margin: 0 auto;
}

.slider ul{
	list-style: none;
	    width: 86%;
    margin-left: 53px;
}


.slider li{
	width: 20%;
	float: left;
}

.slider li+li{
	padding-left: 54px;
}

.slider-wrapper li a img{
	width: 268px;
}

.slider-wrapper a{
	text-decoration: none;
	color: #2F0006;
}

.slider-left-arrow{
	position: absolute;
	margin-top: 44px;
	    margin-left: 53px;
}



.slider-right-arrow{
	position: absolute;
	margin-top: 35px;
  	margin-left: 93%;
}


