body{
	font-family: sans-serif;
}

header .navbar img{
	margin-left: 50px;
    margin: 24px;
}

.navbar{
	background-color: #320009;
}

.banner{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 0px;
}

.banner-title{
	width: 856px;
    margin-left: 238px;
}

.banner-title h2{
	font-size: 53px;
	color: white;
}

.banner-title p{
	font-size: 30px;
	color: white;

}

header ul{
	list-style: none;
	margin:50px;
	padding-bottom: 18px;

}

header li{
	display: inline;
}

header li+li{
	padding-left: 38px;
}

header li a{
	font-size: 28px;
	text-decoration: none;
	color: white;
}

.scroll{
	color: white;
    margin-top: -60px;
}

.scroll p{
	margin-bottom: 5px;
}

.banner{
	background-image: url('../images/Grass_Image_02.jpg');
	background-repeat: no-repeat;
}

